/* common Shard Styles */
body {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    padding: 12px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* .header related style */

.header {
    background-image:url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
    background-size:550px, 70px;
    background-color: rgb(215, 213, 174);
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 400px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 70px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}



.banner-content {
    max-width: 500px;
}

/* about section styles */
.about {
    padding: 50px;
    border-radius: 10px;
    background: #fde3d1;
    margin: 130px 230px;
}
.info{
    display: flex;
    justify-content: space-around;
    margin: 2%;
}
.do{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 15%; 
}
.do p{
  text-align: center;
}
.skill{
    display:flex;
    flex-direction:row;
    margin: 170px;
    
}
.java{
   border: 0px solid saddlebrown;
   padding: 2%;
   background: #fde3d1;
   margin: 2%;
   border-radius: 10px;
}
.React{
    border: 0px solid saddlebrown;
    padding: 2%;
    background: #fde3d1;
    margin: 2%;
    border-radius: 10px;
}
.node{
    border: 0px solid saddlebrown;
    padding: 2%;
    background: #fde3d1;
    margin: 2%;
    border-radius: 10px;
}
.mongo{
    border: 0px solid saddlebrown;
    padding: 2%;
    background: #fde3d1;
    margin: 2%;
    border-radius: 10px;
}
.resume-column-title{
   font-size: 30px;
   font-family: 700;
   color: #474747;
    
}
.resume-container{
    display: flex;
    margin: 0px 200px;
    gap: 100px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    margin-top: 50px;
    padding:100px  130px 0px 200px;
    gap: 100px;
}
.footer-Column{
    width: 950px;
  
}
.Footer-Contact input, textarea{
    display: block;
    margin-bottom: 20px;
    padding: 18px 35px;
    border: 0px;
    border-radius: 5px;
    background-color: #fccead;
}  